.App {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;

    &>div{
        padding: 1rem 50px 0 50px;
        width: fit-content;
        display: flex;
        gap: 3rem;
    }
}

.calendar {
    width: 500px;
}

.flex-column {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.date {
    align-items: center;
    color: inherit;
    display: flex;
    gap: 10px;

    &.exams {
        color: #390099;
    }
    
    &.isDayOff {
        color: #9d0208;
    }
    
    &.foolMoon {
        color: #ff9f1c;
    }
    
    &.clickable {
        cursor: pointer;
    }
}

.drop-box {
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    top: calc(100% + 5px);
    height: fit-content;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    width: 100%;
    z-index: 99;
    margin: 0;
    left: 0;

    display: none;

    &.show {
        display: block;
    }
}

.stat {
    margin-top: 1rem;

    &>.stat-item {
        align-items: center;
        display: flex;
        margin: 3px 0;

        &>label {
            font-weight: bolder;
            margin: 0 5px;
        }
    }
}

.stats-tooltip-wrapper {
    width: 150px;

    &>div {
        display: flex;

        &>label {
            margin-right: 5px;
            font-weight: bold;
        }
    }
}

.full-moon-tooltip {
    text-align: center;
    width: 70px;
}
