.badge {
    justify-content: center;
    align-items: center;
    display: flex;

    font-weight: bolder;
    color: white;

    &.small {
        border-radius: 10px;
        font-size: 0.8rem;
        height: 20px;
        width: 20px;
    }

    &.medium {
        border-radius: 20px;
        font-size: 1.2rem;
        height: 30px;
        width: 30px;
    }

    &.large {
        border-radius: 30px;
        height: 40px;
        width: 40px;
    }

    &.red {
        background-color: #8d0801;
    }

    &.green {
        background-color: #588157;
    }

    &.blue {
        background-color: #00509d;
    }

    &.yellow {
        background-color: #ffbe0b;
        color: #14213d;
    }
}