.calendar {
    width: 500px;
}

.flex-column {
    flex-direction: column;
    display: flex;
    gap: 10px;

    &>h1 {
        color: inherit;

        &.exams {
            color: #390099;
        }
        
        &.isDayOff {
            color: #9d0208;
        }
    }
}

.drop-box {
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    top: calc(100% + 5px);
    height: fit-content;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    width: 100%;
    z-index: 99;
    margin: 0;
    left: 0;

    display: none;

    &.show {
        display: block;
    }
}

.stat {
    margin-top: 1rem;

    &>.stat-item {
        align-items: center;
        display: flex;
        margin: 3px 0;

        &>label {
            font-weight: bolder;
            margin: 0 5px;
        }
    }
}

.stats-tooltip-wrapper {
    width: 150px;

    &>div {
        display: flex;

        &>label {
            margin-right: 5px;
            font-weight: bold;
        }
    }
}