.calendar {
    width: 500px;
}

.flex-column {
    flex-direction: column;
    display: flex;
    gap: 10px
}

.drop-box {
    border: 1px solid #000;
    background-color: #fff;
    box-sizing: border-box;
    top: calc(100% + 5px);
    height: fit-content;
    position: absolute;
    max-height: 300px;
    overflow-y: auto;
    padding: 5px;
    width: 100%;
    z-index: 99;
    margin: 0;
    left: 0;

    display: none;

    &.show {
        display: block;
    }
}

.stat {
    margin-top: 1rem;

    &>div>label {
        font-weight: bold;
    }
}