.card {
    background-color: #f5ebe0;
    padding: 0 10px 15px 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin: 0;

    &.primary {
        background-color: #fff;
    }

    &.enable {
        background-color: #fcbf49;

        &:hover {
            background-color: #f77f00;
            border-color: #d62828;
            cursor: pointer;
        }
    }
}

.head {
    font-weight: bold;
    margin-left: 10px;
    padding: 0 5px;
}