.choices {
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    width: 100%;

    &>label {
        text-align: center;
        font-weight: bold;
        font-size: medium;
    }

    &>.list {
        justify-content: center;
        flex-direction: column;
        margin-top: 5px;
        display: flex;
        width: 100%;
        gap: 3px;

        &>.choice {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;

            &>div {
                width: fit-content;
                border-radius: 3px;
                padding: 2px 10px;

                &.selected {
                    font-weight: bolder;
                    color: #ebebeb;
                }
            }
        }
    }
}