.event-card {
    &>.head {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;

        & img {
            margin-left: 10px;
            height: 35px;
            width: 35px;
        }
    }

    &>.item {
        display: flex;
    
        &>label {
            padding-right: 10px;
            font-weight: bold;
            min-width: 50px;
        }
    }
}

.tooltip-text {
    text-wrap: nowrap;
    padding: 0 10px;
}