.badge-wrapper {
    position: relative;

    &>.tooltip {
        transform: translate(-50%);
        background-color: #000;
        border-radius: 5px;
        position: absolute;
        color: #fff;
        padding: 10px;
        display: none;
        z-index: 10;
        left: 50%;

        &.show {
            display: block;
        }

        &.top {
            bottom: calc(100% + 5px);
        }
        
        &.bottom {
            top: calc(100% + 5px);
        }
    }
}