.main-container {
    flex-wrap: wrap;
    display: flex;

    .left-tab, .right-tab, .center-tab {
        justify-content: center;
        overflow-y: auto;
        display: flex;

        &>.tab-main-container {
            margin: 1rem 10px;
            max-height: 90vh;
            width: 90%;
        }
    }
    
    .left-tab, .right-tab {
        flex: 3 500px;

        &>.tab-main-container {
            max-width: 500px;
        }
    }

    .center-tab {
        flex: 1 700px;

        &>.tab-main-container {
            max-width: 700px;
        }
    }
}

.right-tab-container {
    flex-direction: column;
    display: flex;
    width: 100%;

    &>.filter-input {
        justify-content: center;
        margin-bottom: 1rem;
        padding: 10px 0;
        display: flex;
        
        background-color: white;
        position: sticky;
        z-index: 90;
        top: 0;

        &>div {
            width: 80%;
        }
    }
}

.activities-list {
    flex-direction: column;
    margin: 1rem 0;
    display: flex;
    width: 100%;
    gap: 10px;
}

.date-navigation {
    font-size: smaller;
    display: flex;
    width: 100%;

    &>.date-navigation-left, .date-navigation-right {
        align-items: center;
        display: flex;
        width: 50%;
        gap: 10px;
    }

    &>.date-navigation-left {
        justify-content: flex-start;
    }
    &>.date-navigation-right {
        justify-content: flex-end;
    }
}

.settings-container {
    display: none;
    width: 100%;
    
    &.show {
        display: block;
    }
}

.input-row {
    align-items: center;
    margin: 1rem 0;
    display: flex;

    &>label {
        width: 50%;
    }
}
